<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application Form</title>
  </head>
  <body>
    <h1>Application Form</h1>
    <form enctype="multipart/form-data" id="formApply">
      <label for="jobId">jobId:</label>
      <input
        type="text"
        id="jobId"
        name="jobId"
        value="2ab809e1-d40d-4527-b904-5e2179671f7e"
        required
      /><br />

      <label for="fullName">fullName:</label>
      <input
        type="text"
        id="fullName"
        name="fullName"
        value="prem"
        required
      /><br />

      <label for="phone">Phone:</label>
      <input
        type="text"
        id="phone"
        name="phone"
        value="9952213571"
        required
      /><br />

      <label for="email">email:</label>
      <input
        type="email"
        id="email"
        name="email"
        value="prem@gmail.com"
        required
      /><br />

      <label for="address">address:</label>
      <input
        type="text"
        id="address"
        name="address"
        value="gandhi nagar, Chennai"
        required
      /><br />

      <label for="linkedin">linkedin:</label>
      <input
        type="text"
        id="linkedin"
        name="linkedin"
        value="http://linkedin.com"
        required
      /><br />

      <label for="gender">gender:</label>
      <input
        type="text"
        id="gender"
        name="gender"
        value="male"
        required
      /><br />

      <label for="file">Upload Resume:</label>
      <input type="file" id="resume" name="resume" /><br />

      <label for="file">Upload Profile:</label>
      <input type="file" id="profile" name="profile" /><br />

      <button type="submit">Submit</button>
      <script>
        document
          .getElementById("formApply")
          .addEventListener("submit", async function (e) {
            e.preventDefault();
            const formData = new FormData(this);
            try {
              await fetch("http://localhost:8000/application", {
                method: "POST",
                body: formData,
              })
                .then((response) => console.log(response))
                .catch((err) => console.log(err));
            } catch (error) {
              console.log(error);
            }
          });
      </script>
    </form>
  </body>
</html>
