<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organization Form</title>
  </head>
  <body>
    <h1>Organization Form</h1>
    <form id="formRegisterCompany" enctype="multipart/form-data">
      <label for="organizationName">Organization Name:</label>
      <input
        type="text"
        id="organizationName"
        name="organizationName"
        value="UXON"
      /><br />

      <label for="type">Type:</label>
      <input
        type="text"
        id="type"
        name="type"
        value="Information Technology"
        required
      /><br />

      <label for="address">address:</label>
      <input
        type="text"
        id="address"
        name="address"
        value="7 cross street"
        required
      /><br />

      <label for="phone">Phone:</label>
      <input
        type="number"
        id="number"
        name="number"
        value="9952213571"
        required
      /><br />

      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        value="prem@gmail.com"
        required
      /><br />

      <label for="websiteLink">Website:</label>
      <input
        type="url"
        id="websiteLink"
        name="websiteLink"
        value="http://www.uxon.com"
        required
      /><br />

      <label for="employeeSize">Employee Size:</label>
      <select id="employeeSize" name="employeeSize" required>
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large" selected>Large</option></select
      ><br />

      <label for="foundDate">Founding Date:</label>
      <input
        type="date"
        id="foundDate"
        name="foundDate"
        value="2003-08-08"
        required
      /><br />
      <label for="socialLink">Social Link:</label>
      <input
        type="text"
        id="socialLink"
        name="socialLink"
        value="https://linkedin.com"
        required
      /><br />

      <label for="description">Description:</label><br />
      <textarea id="description" name="description" rows="4" cols="50">
This is the software company that produces the enthusiastic application from innovative ideas to society.</textarea
      ><br />

      <label for="file">Upload Image:</label>
      <input type="file" id="file" name="file" accept="image/*" /><br />

      <button type="submit">Submit</button>
    </form>
    <script>
      document
        .getElementById("formRegisterCompany")
        .addEventListener("submit", async function (e) {
          e.preventDefault();
          const formData = new FormData(this);
          await fetch("http://localhost:8000/api/org/register", {
            method: "POST",
            headers: {
              authorization:
                "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiMFhnaEQyeG1SMiIsImlhdCI6MTcwMzIzNzQ5NSwiZXhwIjoxNzAzMzIzODk1fQ.1xURXbzJdsXUWooiRn31Uz-QOSF_oPoFxWzP6tjBpn8",
            },
            body: formData,
          });
        });
    </script>
  </body>
</html>
