<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
  </head>
  <body>
    <h1>Registration Form</h1>
    <form id="registrationForm" enctype="multipart/form-data">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        value="uxonAdmin"
        required
      /><br />

      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        value="uxon@gmail.com"
        required
      /><br />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        value="123"
        required
      /><br />

      <button type="submit">Submit</button>
    </form>

    <script>
      document
        .getElementById("registrationForm")
        .addEventListener("submit", async function (e) {
          e.preventDefault();

          const username = document.getElementById("username").value;
          const email = document.getElementById("email").value;
          const password = document.getElementById("password").value;

          await fetch("http://localhost:5000/auth/register", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              username,
              email,
              password,
            }),
          });
        });
    </script>
  </body>
</html>
